%h1 
  - if @action == 'all'
    Todas las ofertas dispoibles 
  - else
    Ofertas recientes
%div #{flash[:error]||flash[:notice]}
= link_to 'Nueva oferta', new_job_path
%ul
  = render @jobs
- if @action == 'all'
  = link_to "Regresar a página principal", root_path
- else
  = link_to "Ver todas las #{@total} ofertas", all_path
