= simple_form_for @job do |f|
  = f.input :title
  = f.input :category
  = f.input :location
  = f.input :description
  = f.input :contact
  = f.input :company_name
  = f.input :logo
  = f.input :url
  = f.input :email

  - if !@job.token.nil?
    = f.button :submit, 'Actualizar oferta'
  - else
    = f.button :submit, 'Paso 2: ver la oferta'

