= simple_form_for @job do |f|
  = f.hidden_field :token
  = f.input :title
  = f.input :category, :collection => categories, :prompt => 'Seleccione una opcion'
  = f.input :location
  = f.input :description, :wrapper_html => {:class => 'textarea'}
  = f.input :contact, :input_html => {:cols => 50, :rows => 5}, :wrapper_html => {:class => 'textarea'}
  = f.input :company_name
  = f.hidden_field :logo
  = f.input :url
  = f.input :email

  = f.button :submit, @job.published ? 'Actualizar oferta' : 'Paso 2: ver la oferta', :class => 'awesome large button'
:javascript
  $(document).ready(
    function() {
      var textarea = $('#job_description');
      WEditor.setup(textarea);
    }
  );
