%li{ id = "#{job.id}" } 
  = link_to dashboard_path(job) do
    %span.location #{job.location}
    %span.title #{job.title} 
    %span.dark en 
    %span.blue #{job.company_name}
    %span{:style => 'float: right;'}
      %small.dark #{category_name job.category}
      %small #{job.created_at.to_s(:simple)}
