%h1 Paso 2: Vista previa de la oferta 
%h1
  = @job.title
%h2
  = @job.company_name
  %span
    = @job.url
%h3
  = @job.location
%div
  = @job.description
%div
  = @job.contact
= simple_form_for(@job, :url => publish_job_path(@job)) do |f|
  = f.button :submit, 'Paso 3: publicar oferta'
o
= link_to 'Realizar cambios', edit_job_path(@job)
