- content_for :header do
  .column
    %h1 Paso 2: Vista previa de la oferta 
  .column-right
    %ul.steps
      %li.step1_off
      %li.step2_on
      %li.step3_off
#preview
  %h1
    = @job.title
  %h2
    = @job.company_name
  %h3
    Ubicación: 
    = @job.location
  %span
    = link_to @job.url, @job.url
  #description
    = @job.description
  .contact
    = @job.contact
  = simple_form_for(@job, :url => publish_job_path(@job)) do |f|
    #{f.button :submit, 'Paso 3: publicar oferta', :class => 'awesome large button'} o #{link_to 'Realizar cambios', edit_job_path(@job)}

- content_for :sidebar do
  %h3 Vista previa
  %p Así es como se verá la oferta una vez publicada.
  %p Si la oferta esta completa, el siguiente paso es publicarla.
