!!!
%html
  %head
    %title #{t(:title)}
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'application.less', :rel => "stylesheet/less"
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header
      .content
        .column
          #logo
            = link_to image_tag('empleosTI.png'), root_path
        .column-right
          #note #{t(:slogan)}
            
    #page-top
      #page
        .content
          - if content_for? :header
            .header
              = content_for :header
            .clear
          = yield
          - if content_for? :sidebar
            #sidebar
              = content_for :sidebar
      #footer
        .column{:style => 'border: 0px;'} 
          .blue{:style => 'height:30px; padding: 12px 5px 0px 20px;float:left;'}
            = t(:service_of) 
          %div{:style => 'height:30px;float:left;'}
            = link_to 'http://www.decisionesinteligentes.com', :target => '_blank' do
              = image_tag 'mini-dein2.png', :width => '200'
          .clear
        .column-right{:style => 'border: 0px;'}
          .blue{:style => 'height:30px; padding: 12px 5px 0px 20px;'}
            = t :follow_us 
            = link_to '@empleosti_dein', 'http://twitter.com/empleosti_dein', :target => '_blank'
            = t :to_know_new 
    :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11181040-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
